@import "src/styles/main";

.login-container {
  display: flex;
  flex-direction: column;
  width: 200px;
  height: 100px;
  justify-content: space-evenly;
  align-items: center;

  .input-bar {
    margin-top: 10px;
  }

  .buttons-container {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }

  button {
    border-radius: 5px;
    padding: 5px 10px;
    margin-bottom: 10px;
    background-color: $app-main-color;
    color: white;
  }
}
