@import "src/styles/main";

.admin-view-screen-container {
  width: 100%;
  //padding: 0px 500px 0px 500px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  .content-container {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: end;
    //height: 70vw;
    //width: auto;
  }

  .greeting-row {
    color: $app-main-color;
    margin-top: 40px;
  }

  .update-status-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: end;
    color: $app-main-color;
    margin-top: 20px;
    width: 440px;

    .dropdown {
      height: 32px;
      margin-top: 20px;
    }
  }

  .admin-table {
    margin-top: 20px;
  }

  .search-filter-container {
    display: flex;
    flex-direction: row;
  }
}
